* {
    margin: 0;
    padding: 0;
}

body {
    width: 855px;
    margin: auto;
    background: ivory;
    font-size: 100%;
    font-family: sans-serif;
}

header {
  overflow: auto;
  border-bottom: 1px solid darkslategray;
}

h1 {
  float: left;
}


header p {
  float: right;
  width: 570px;
  font-style: italic;
  margin-top: 10px;
}

main {
  overflow: auto;
  padding: 30px 0;
  border-bottom: 1px solid darkslategray;
}

/*Input for user 1*/
.comment-input-1 {
  float: left;
  width: 285px;
}

.comment-input-1 p {
  margin-bottom: 10px;
}

.comment-input-1 input {
  width: 80%;
  height: 30px;
  font-size: 1.2em;
  font-weight: bold;
}

.comment-input-1 button {
  font-weight: bold;
  padding: 3px;
  border-radius: 5px;
  color: ivory;
  background: olivedrab;
  cursor: pointer;
  font-size: 1.5em;
  margin-left: 5px;
}

/*Input for user 1*/
.comment-input-2 {
  float: left;
  width: 285px;
}

.comment-input-2 p {
  margin-bottom: 10px;
}

.comment-input-2 input {
  width: 80%;
  height: 30px;
  font-size: 1.2em;
  font-weight: bold;
}

.comment-input-2 button {
  font-weight: bold;
  padding: 3px;
  border-radius: 5px;
  color: ivory;
  background: olivedrab;
  cursor: pointer;
  font-size: 1.5em;
  margin-left: 5px;
}

/*Comment box*/
.comments {
  width: 565px;
  min-height: 200px;
  float: right;
}

.comments p {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: left;
}

/*user 1 Comments*/
.colors1:nth-child(even) {
    background: lavender;
}

.colors1:nth-child(odd) {
    background: gainsboro;
}

/*user 2 Comments*/
.colors2 {

}
.colors2:nth-child(even) {
    background: #fff59d;
    text-align: right;
}

.colors2:nth-child(odd) {
    background: rgba(251, 192, 45, 0.8);
    text-align: right;
}

footer {
    font-size: smaller;
    margin-top: 5px;
    clear: both;
}
